.techstack-section {
  margin-top: 40px;
  height: auto;
}
.section-title h5 {
  text-align: center;
}

.tech-content {
  padding: 10px;
  color: black;
  margin-top: 50px;
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}

.tech-content p {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tech-content-marked {
  background-color: #3d44a5;
  color: white;
}

.tech-content:hover {
  background-color: #47257e;
  color: white;
}
.tech-number {
  border-radius: 90px;
  height: 50px;
  width: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
  line-height: 50px;
}

.load-more-tech-stack {
  background-color: rgb(66, 32, 97);
  width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
}

.load-more-tech-stack:hover {
  background-color: #0c3a77;
  transition-duration: 1s;
}
